body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding:0; margin: 0;
}

.carrusel{
	display: flex;
	width: 100%;
	background-color: #566075;
}
.carrusel .carrusel-band{
	background-color: none;
	margin: 1px;
	width: 25%;
	max-height: 100vh;
	overflow-y: auto;
	text-align: center;
	align-items: flex-start;
	vertical-align: middle;
}

.carrusel .carrusel-band .carrusel-card{
	background-color: white;
	border: none;
	margin: 10px;
	padding: 0;
}
.carrusel .carrusel-band .carrusel-card img{
	width: 100%;
}
.carrusel .carrusel-band .carrusel-card i{
	color: red;
}
.carrusel .carrusel-band .carrusel-card p{
	font-size: 10px;
	text-align: justify;
	padding: 5px;
}
